.flexbox {
    background-color: #0000007e;
    border-radius: 10px;
    width: 400px;
    height: 345px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.name{
    font-family: "Josefin Sans", sans-serif;
    color: aliceblue;



}
body{
    background-image: linear-gradient(to bottom right,#95b9d6,#547fa1,#18476d);

}
.flex{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10vw;
    box-sizing: border-box;
}
.flexing{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.textbox{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.flex-social{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;


}
.social{
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background-color: #0000007e;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.discord:hover{
    background-color: #18476d;

}
.mail:hover{
    background-color: darkgreen;

}
.linkedin:hover{
    background-color: #95b9d6;

}
.img{
    border-radius: 40px;
    border: 3px solid rgba(214, 212, 212, 0.459);
}
.imgbox{
   width: 100%;
   height: 180px;
   background-image: url("img/1706835111293.jpg");
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-position: center;
   background-size: cover;
}
.xbox{
    width: 140px;
    height: 140px;
    background-image: url("img/f.gif");
    border-radius: 999px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 70px;
    left: 40px;
    border: 2px solid rgb(49, 49, 49);


}